<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DropthingsDataContext" connectionString="metadata=res://*/DropthingsDataContext.csdl|res://*/DropthingsDataContext.ssdl|res://*/DropthingsDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=D:\work\dropthings\GoogleCode\trunk\src\Dropthings\App_Data\dropthings.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>