.widget_min {background-image:url('min_blue.gif');}
.widget_max {background-image:url('max_blue.gif');}
.widget_close {background-image:url('x_blue.gif');}
.resizer_line { text-align: center; background-color: red; }
.resizer_icon { }