/* grid */
.grid{text-align:left;width:100%; font-family:Tahoma;clear:both}
.grid h2, .gridh2 {margin:0; padding:0; color:#ffffff;	height:20px; line-height:20px; font-size:14px;}
.grid .datatable{width:100%; color:#666;}        
.grid .datatable th{font-size:11px; font-weight:bold; letter-spacing:0px; text-align:left; padding:2px 4px; color:#333333;border-bottom:solid 2px #bbd9ee;}
.grid .datatable th a{ text-decoration:none;padding-right:18px; color:#0066cc;}
.grid .datatable th.sortasc a { background:url(Images/asc.gif) right center no-repeat; }
.grid .datatable th.sortdesc a { background:url(Images/desc.gif) right center no-repeat; }
.grid .datatable .row td{font-size:11px; text-align:left; padding:6px 4px; border-bottom:solid 1px #bbd9ee;}      
.grid .datatable .row:hover{background-color:#fffacd;color:#000;}
.grid .datatable .row td.first { padding-left:10px; }
.grid .datatable th.first { padding-left:10px; }
.grid .datatable .row:hover .first{background-repeat:no-repeat;	background-image:url(Images/bullet.gif);}  
/* Data Pager Styles */
.grid tr.pager-row td{ border-top:solid 2px #bbd9ee;}
.grid .pager{font-family:arial,sans-serif; text-align:center; padding:6px; font-size:15px;} 
.grid .pager span.command,
.grid .pager span.current,        
.grid .pager a.command,
.grid tr.pager-row td a{color:#5a90ce;padding:0px 5px; text-decoration:none; border:none;}
.grid .pager a.command:hover,
.grid tr.pager-row td a:hover{border:solid 2px #408BB6; background-color:#59A5D1; color:#fff; padding:0px 3px; text-decoration:none;}
.grid .pager span.current,
.grid tr.pager-row td span{border:none; font-weight:bold; color:#3e3e3e; padding:0px 6px;}
.grid tr.pager-row td{border-top:none;text-align:center;}
.grid tr.pager-row table{height:35px;margin:0 auto 0 auto;}