<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dropthings.DataAccess.Properties.Settings.DashboardConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Dashboard;User ID=sa2"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.dropthingsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Development\OutSource\Dropthings\trunk\Dropthings\App_Data\dropthings.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.DropthingsConnectionString1"
            connectionString="Data Source=VISTA64;Initial Catalog=Dropthings;User ID=dropthings;Password=dropthings"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.DropthingsConnectionString2"
            connectionString="Data Source=VISTA64;Initial Catalog=Dropthings;User ID=dropthings"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.dropthingsConnectionString3"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Development\Official\OnSoftware\Dropthings29Nov2008\trunk\Dropthings\App_Data\dropthings.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.dropthingsConnectionString4"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\dmildenberger\Desktop\dropthings-24028\trunk\Dropthings\App_Data\dropthings.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.dropthingsConnectionString5"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Development\OpenSource\DT\dropthings\src\Dropthings\App_Data\dropthings.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.dropthingsConnectionString6"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Development\OpenSource\DT2\dropthings\src\Dropthings\App_Data\dropthings.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropthings.DataAccess.Properties.Settings.dropthingsConnectionString7"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;F:\Ilias Vai\Dropthings\trunk\src\Dropthings\App_Data\dropthings.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>