<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<!-- required to read the <dataCacheClient> element -->
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataCacheClient" type="Microsoft.Data.Caching.DataCacheClientSection,&#xA;       CacheBaseLibrary" allowLocation="true" allowDefinition="Everywhere"/>
		<!-- required to read the <fabric> element, when present -->
		<section name="fabric" type="System.Data.Fabric.Common.ConfigFile,&#xA;       FabricCommon" allowLocation="true" allowDefinition="Everywhere"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="userSettingTemplates" type="Dropthings.Configuration.UserSettingTemplateSettingsSection, Dropthings.Configuration" requirePermission="false"/>
	</configSections>
	<!-- routing client-->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="App_Data\Exceptions.log" footer="----------------------------------------" formatter="EventLog style formatter" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Exception Trace Listener"/>
			<add source="Enterprise Library Logging" formatter="EventLog style formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener"/>
			<add fileName="App_Data\Dropthings.log" footer="" formatter="Single Line Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener"/>
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="EventLog style formatter"/>
			<add template="{timestamp}{tab}{category}{tab}{message}{newline}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Single Line Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="Exception">
				<listeners>
					<add name="Exception Trace Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Exception Trace Listener"/>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Log and Rethrow">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add logCategory="Exception" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" useDefaultLogger="true" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="Log Only">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
						<exceptionHandlers>
							<add logCategory="Exception" eventId="100" severity="Error" title="Log Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" useDefaultLogger="true" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<connectionStrings>
    <!-- WARNING: When you change connection string, don't forget to update the connection string embedded in the DropthingsDataContext value. -->
    <!-- Regular connection string, for the ASP.NET Providers and Linq to SQL -->
    <add name="DropthingsConnectionString" 
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dropthings.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
		<!--<add name="DropthingsConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DropTest;User ID=sa;Password=janina" providerName="System.Data.SqlClient"/>-->
    <!-- Entity framework compatible connection string -->
    <add name="DropthingsDataContext" 
         connectionString="metadata=res://*/DropthingsDataContext.csdl|res://*/DropthingsDataContext.ssdl|res://*/DropthingsDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dropthings.mdf;Integrated Security=True;User Instance=True&quot;" 
         providerName="System.Data.EntityClient" />
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="DropthingsCache">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="DropthingsCache"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<dataCacheClient deployment="simple">
		<!-- local cache enabled 
    <localCache
      isEnabled="true"
      sync="TTLBased"
      objectCount="100000"
      ttlValue="300" />
    -->
		<!--(optional) specify cache notifications poll interval 
    <clientNotification pollInterval="300" />
    -->
		<!-- cache host(s) -->
		<hosts>
			<host name="localhost" cachePort="22233" cacheHostName="DistributedCacheService"/>
		</hosts>
	</dataCacheClient>
	<appSettings>
		<!-- When this is true, all caching, css combining, js comining etc turned off to facilitate
    faster development. Turn this off when you go live for significant performance improvement. -->
		<add key="DeveloperMode" value="true"/>
		<!-- The base URL of the site, including the trailing slash. Used in constucting 
    URLs in mail templates. -->
		<add key="WebRoot" value="http://localhost:8000/Dropthings/"/>
		<!-- You can put a differnet domain to take advantage of parallel downloading. -->
		<add key="CssPrefix" value=""/>
		<!-- You can put a differnet domain to take advantage of parallel downloading. -->
		<add key="JsPrefix" value=""/>
		<!-- You can put a differnet domain to take advantage of parallel downloading. -->
		<add key="ImgPrefix" value=""/>
		<!-- Used to version script links. Increase this when you make changes in any js which is versioned.
    Otherwise browser won't download the latest version if it's cached on browser. -->
		<add key="ScriptVersionNo" value="10"/>
		<!-- Used to version CSS links. Increase this when you make changes in any css and want
    browser to download the latest version. -->
		<add key="CssVersionNo" value="14"/>
		<!-- Common CSS across all themes. Contains common layout styles. -->
		<add key="CommonCssSet" value="~/Styles/Common.css"/>
		<!-- Email of the admin which is used in "From" of mails sent from the site -->
		<add key="AdminEmail" value="admin@dropthings.com"/>
		<!-- If true, after registration, user will be asked to click on a confirmation email -->
		<add key="ActivationRequired" value="false"/>
		<!-- Widgets are mapped to roles in WidgetsInRoles table. When this is true, only the 
    widgets which are allowed for the current user's roles are shown. -->
		<add key="EnableWidgetPermission" value="true"/>
		<!-- True = Disables DOS attack check -->
		<add key="DisableDOSCheck" value="true"/>
		<!-- True = Enable Velocity Distributed Cache -->
		<add key="EnableVelocity" value="false"/>
		<add key="VelocityCacheName" value="Dropthings"/>
		<!-- Turn off all cache -->
		<add key="DisableCache" value="false"/>
		<!-- Enable tab sorting -->
		<add key="EnableTabSorting" value="true"/>
		<!-- Enable admin only tab sorting -->
		<add key="EnableAdminOnlyTabSorting" value="true"/>
	</appSettings>
	<userSettingTemplates cloneAnonProfileEnabled="true" cloneRegisteredProfileEnabled="false">
		<templates>
			<clear/>
			<add key="anon_template" userName="anon_user@yourdomain.com" password="changeme" roleNames="Guest" templateRoleName="Guest"/>
			<add key="registered_template" userName="reg_user@yourdomain.com" password="changeme" roleNames="RegisteredUser" templateRoleName="RegisteredUser"/>
		</templates>
	</userSettingTemplates>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name=".DBAUTH12" loginUrl="LoginPage.aspx" protection="All" timeout="20160" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="Default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
		</authentication>
		<membership defaultProvider="DropthingsMembershipSqlProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="DropthingsMembershipSqlProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="DropthingsConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="Dashboard" requiresUniqueEmail="false" passwordFormat="Clear" minRequiredPasswordLength="1" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="DropthingsRoleManagerSqlProvider">
			<providers>
				<add connectionStringName="DropthingsConnectionString" applicationName="Dashboard" name="DropthingsRoleManagerSqlProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<profile enabled="true" automaticSaveEnabled="false" defaultProvider="DropthingsProfileSqlProvider" inherits="Dropthings.Web.Framework.UserProfile">
			<providers>
				<clear/>
				<add name="DropthingsProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DropthingsConnectionString" applicationName="Dashboard" description="SqlProfileProvider for Dashboard"/>
			</providers>
		</profile>
		<anonymousIdentification enabled="true" cookieName=".DBANON" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" cookieless="UseCookies"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages theme="GreenBlue">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<!--<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
			<add verb="GET,POST" path="*.asmx" validate="false" type="AJAXASMXHandler.ASMXHttpHandler, AJAXASMXHandler"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<browserCaps>
			<filter>
				<!-- SEARCH ENGINES GROUP -->
				<!-- check Google (Yahoo uses this as well) -->
				<case match="^Googlebot(\-Image)?/(?'version'(?'major'\d+)(?'minor'\.\d+)).*">
          browser=Google
          version=${version}
          majorversion=${major}
          minorversion=${minor}
          crawler=true
        </case>
				<case match="Mediapartners-Google">
          browser=Google
          crawler=true
        </case>
				<!-- check Alta Vista (Scooter) -->
				<case match="^Scooter(/|-)(?'version'(?'major'\d+)(?'minor'\.\d+)).*">
          browser=AltaVista
          version=${version}
          majorversion=${major}
          minorversion=${minor}
          crawler=true
        </case>
				<!-- check Alta Vista (Mercator) -->
				<case match="Mercator">
          browser=AltaVista
          crawler=true
        </case>
				<!-- check Slurp (Yahoo uses this as well) -->
				<case match="Slurp">
          browser=Slurp
          crawler=true
        </case>
				<!-- check MSN -->
				<case match="MSNBOT|msnbot">
          browser=MSN
          crawler=true
        </case>
				<!-- check Northern Light -->
				<case match="^Gulliver/(?'version'(?'major'\d+)(?'minor'\.\d+)).*">
          browser=NorthernLight
          version=${version}
          majorversion=${major}
          minorversion=${minor}
          crawler=true
        </case>
				<!-- check Excite -->
				<case match="ArchitextSpider">
          browser=Excite
          crawler=true
        </case>
				<case match="ArchitectSpider">
          browser=Excite
          crawler=true
        </case>
				<!-- Lycos -->
				<case match="Lycos_Spider">
          browser=Lycos
          crawler=true
        </case>
				<!-- Ask Jeeves -->
				<case match="Ask Jeeves">
          browser=AskJeaves
          crawler=true
        </case>
				<case match="http:\/\/sp.ask.com">
          browser=AskJeaves
          crawler=true
        </case>
				<!-- check Fast -->
				<case match="^FAST-WebCrawler/(?'version'(?'major'\d+)(?'minor'\.\d+)).*">
          browser=Fast
          version=${version}
          majorversion=${major}
          minorversion=${minor}
          crawler=true
        </case>
				<case match="^[Ww][Gg][Ee][Tt]">
          browser=Fast
          crawler=true
        </case>
				<!-- IBM Research Web Crawler -->
				<case match="http\:\/\/www\.almaden.ibm.com\/cs\/crawler">
          browser=IBMResearchWebCrawler
          crawler=true
        </case>
				<!-- SiteSucker -->
				<case match="SiteSucker">
          browser=SiteSucker
          crawler=true
        </case>
				<case match="ia_archiver">
          browser=Alexa-1
          crawler=true
        </case>
				<case match="ZyBorg|zyborg|Zyborg">
          browser=www.wisenut.com
          crawler=true
        </case>
				<case match="^[Mm]antra[Aa]gent">
          browser=Looksmart.com
          crawler=true
        </case>
				<case match="http:/\/\www.[Ww][Ii][Ss][Ee]nutbot.com">
          browser=www.wisenut.com
          crawler=true
        </case>
				<case match="^[Pp]ico[Ss]earch">
          browser=PicoSearch.com
          crawler=true
        </case>
			</filter>
		</browserCaps>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" compilerOptions="/optioninfer+" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
</configuration>
